<!doctype html>{% load static %}{% load django_bootstrap5 %}
{% load i18n %}{% load l10n %}
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static '/css/bootstrap-icons.1.10.3.css' %}">
  <script src="{% static '/js/bootstrap-color-modes.js' %} "></script>
  <title>{{ app_name }}</title>
</head>
<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
      data-sidebar-shortcut-enabled="true">
<header>
  <nav class="navbar navbar-expand-lg bg-primary bg-gradient">
    <div class="container">
      <a class="navbar-brand" href="/">{{ app_name }} <small>v{{ app_version }}</small>{{ LANGUAGE_CODE }} </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          {% if check_and_update_is_running %}
            <li class="nav-item my-auto"><span class="nav-link badge text-bg-warning">Check/Update is running</span>
            </li>{% endif %}
          <li class="nav-item my-auto"><a class="nav-link" href="/api/docs">{OpenAPI}</a></li>
          <li class="nav-item my-auto"><a class="nav-link" href="{{ app_url }}">
            <i class="bi-github" style="font-size: 1.2rem"></i>
          </a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main class="pt-4 pb-4">
  {% block content %}{% endblock %}
</main>
<footer>
  <hr class="mb-1">
  <div class="container font-monospace pb-2"><small>
    {% for k,v in web_ui_footer.items %}
      {{ k }}: {{ v }}
    {% endfor %}
  </small></div>
</footer>
{% bootstrap_javascript %}
</body>
</html>