{% load i18n %}{% load l10n %}{% load tz %}
{% localtime on %}
  <div class="container pt-2">
    <h4>{% translate "Events" %}</h4>
    <table class="table table-striped align-middle">
      <thead>
      <tr>
        <th scope="col">{% translate "Timestamp" %}</th>
        <th scope="col">{% translate "Level" %}</th>
        <th scope="col">{% translate "Message" %}</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      {% for item in events %}
        {% if item.level == "WARNING" %}
          <tr class="bg-warning-subtle">
            {% elif item.level == "ERROR" %}
          <tr class="bg-danger-subtle">
            {% elif item.level == "CRITICAL" %}
          <tr class="bg-danger-subtle">
        {% endif %}
      <td>{{ item.time|date:"DATETIME_FORMAT" }}</td>
      <td>{{ item.level }}</td>
      <td class="font-monospace">{{ item.message }}</td>
      </tr>
      {% empty %}
        <th>Sorry, no data in this list.</th>
      {% endfor %}
      </tbody>
    </table>
  </div>{% endlocaltime %}