{% load i18n %}
{% load l10n %}
{% load tz %}
{% localtime on %}
<h4>{% translate "Events" %}</h4>
<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th scope="col">{% translate "Timestamp" %}</th>
      <th scope="col">{% translate "Level" %}</th>
      <th scope="col">{% translate "Message" %}</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for item in events %}
      <tr class="{% if item.level == "WARNING" %}bg-warning-subtle{% elif item.level == "ERROR" %}bg-danger-subtle{% elif item.level == "CRITICAL" %}bg-danger-subtle{% endif %}">
        <td>{{ item.time|date:"DATETIME_FORMAT" }}</td>
        <td>{{ item.level }}</td>
        <td class="font-monospace">{{ item.message }}</td>
      </tr>
    {% empty %}
      <th>Sorry, no data in this list.</th>
    {% endfor %}
  </tbody>
</table>
{% endlocaltime %}
