<!DOCTYPE html>{% load static %}{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

    <title>{{ name }}</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">{{ name }} <small>v{{ version }}</small></span>
</nav>

<table id="table-addresses" data-show-refresh="true" data-auto-refresh="true" data-url="/api/addresses">
    <caption>Address List</caption>
    <thead class="thead-light">
    <tr>
        <th data-field="name">Name</th>
        <th data-field="provider">Provider</th>
        <th data-field="ipv4_previous_address">IPv4 Previous Address</th>
        <th data-field="ipv4_last_address">IPv4 Address</th>
        <th data-field="ipv4_last_change_time">IPv4 Change Time</th>
        <th data-field="ipv6_previous_address">IPv6 Previous Address</th>
        <th data-field="ipv6_last_address">IPv6 Address</th>
        <th data-field="ipv6_last_change_time">IPv6 Change Time</th>
    </tr>
    </thead>
</table>

<table id="table-tasks" data-show-refresh="true" data-auto-refresh="true" data-url="/api/tasks">
    <caption>Task List</caption>
    <thead class="thead-light">
    <tr>
        <th data-field="name">Name</th>
        <th data-field="provider">Provider</th>
        <th data-field="host">Host</th>
        <th data-field="domain">Domain</th>
        <th data-field="last_update_success">Success</th>
        <th data-field="address_name">Address Name</th>
        <th data-field="previous_ip_addresses">Previous Addresses</th>
        <th data-field="last_ip_addresses">IP Addresses</th>
        <th data-field="last_update_time">Last Update Time</th>
        <th data-field="last_update_success_time">Last Success Time</th>
    </tr>
    </thead>
</table>

<table id="table-events" data-show-refresh="true" data-auto-refresh="true" data-url="/api/events">
    <caption>Event List</caption>
    <thead class="thead-light">
    <tr>
        <th data-field="time">Timestamp</th>
        <th data-field="level">Level</th>
        <th data-field="message">Message</th>
    </tr>
    </thead>
</table>

<footer>
    <hr>
    <a href="/api/docs">OpenAPI Docs </a> | <a href="{{ project_url }}">GitHub</a>
</footer>

{% bootstrap_javascript %}
<script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
<script>
    $('#table-addresses').bootstrapTable()
    $('#table-tasks').bootstrapTable()
    $('#table-events').bootstrapTable()
</script>
</body>
</html>