<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  {% load static %}
  {% load django_bootstrap5 %}
  {% load i18n %}
  {% load l10n %}
  {% load tz %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    <link rel="stylesheet"
          href="{% static '/css/bootstrap-icons.1.10.3.css' %}">
    <script src="{% static '/js/bootstrap-color-modes.js' %} "></script>
    <script src="{% static '/js/htmx.1.9.11/htmx.min.js' %} "></script>
    <script src="{% static '/js/htmx.1.9.11/ext/sse.js' %} "></script>
    <title>{{ g.app.name }}</title>
  </head>
  <body class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
        data-dm-shortcut-enabled="true"
        data-sidebar-shortcut-enabled="true"
        hx-ext="sse"
        sse-connect="/sse">
    <header>
      {% include "_header.html" %}
    </header>
    <main class="pt-4 pb-4">
      {% block content %}
      {% endblock content %}
    </main>
    {% bootstrap_javascript %}
    <script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script sse-swap="reload"></script>
  </body>
</html>
