{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load django_bootstrap5 %}
{% block content %}
  {% if bootstrap_messages %}
    <div class="container pt-3">{% bootstrap_messages %}</div>
  {% endif %}
  <div class="container pt-3">
    <h4>Status</h4>
    <table class="table table-striped align-middle">
      <tbody class="table-group-divider">
        <tr>
          <td>Config</td>
          <td>
            {% if g.status.config_check %}
              <span class="badge rounded-pill text-bg-success">Config Check Pass</span>
            {% else %}
              <span class="badge rounded-pill text-bg-danger">Config Check Fail</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Time Zone</td>
          <td>{{ status.time_zone }}</td>
        </tr>
        <tr>
          <td>DNS</td>
          <td>{{ status.dns }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container pt-3">
    <h4>{% translate "Environment Variable" %}</h4>
    <table class="table table-striped align-middle">
      <tbody class="table-group-divider">
        {% for k,v in env.items %}
          <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
          </tr>
        {% empty %}
          <th>Sorry, no data in this list.</th>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container pt-3">
    <h4>Examples</h4>
    {% include "_examples.html" %}
  </div>
{% endblock content %}
